.taviraj-font-family {
  font-family: "Taviraj";
}

.primary-color {
  color: map-get($theme-colors, "primary");
}
.secondary-color {
  color: map-get($theme-colors, "secondary");
}

.fs-7 {
  font-size: 0.8rem;
}

.text-transform-none {
  text-transform: none;
}

.system-ui-font-family {
  font-family: "system-ui";
  letter-spacing: 0;
}
